lark
open3d
pye57
pandas
numpy
numpy-quaternion
rdflib
opencv-python-headless
typing_extensions
matplotlib
scipy
Pillow
XlsxWriter
trimesh
shapely
python-fcl
trimesh
ifcopenshell
laspy
lazrs
laszip
scikit-learn
colour
ezdxf
pyvista
